# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging / build
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pdm-python
.pdm-build


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# plink
*.bed
*.bim
*.fam
*.par
*.frq
*.simfreq

# LD Score
*.ldscore
*.M
*.annot
*.chisq
*.betaprod
*.keep
*.extract
*.gz
*.cts
*.log
*.delete
*cov
*.sumstats
*.delete_k
*.part_delete
*asdf*
*qwer*
*M_5_50*
*.results
test_data/
*.rg_results
*.h2_results


# sublime text
*.idea*
*sublime*

# vscode
.vscode/
# Virtualenvs
.venv

# Nox version test
.nox

# venv
ldsc_venv/

# tests
.nox
.venv